.text .social {
    margin-top: 175px;
}

.social li {
    margin-right: 30px;
}

.social img {
    width: 33px;
    transition: .5s;

}

.social img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1024px) { 
    .text .social {
        margin-top: 187px;
    }
}

@media screen and (max-width: 820px) { 
    .text .social {
        margin-top: 27px;
    }
}

@media screen and (max-width: 630px) {
    .text .social {
        display: none;
    }
}