html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: gray;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(rgb(37, 36, 36), rgb(61, 60, 60), rgb(37, 36, 36));
    padding-top: 30px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(228, 228, 234);
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
}

nav div {
    width: 100%;
}

.nav {
    margin-left: auto;
}

.nav li {
    margin-right: 30px;
    white-space: nowrap;
}

.nav li:last-child {
    margin-right: 0;
}

nav a:hover {
    text-decoration: underline;
}

.nav a:hover {
    text-decoration: underline;
    color: gold;
}

.greeting {
    margin-top: 60px;
    display: flex;
}

.text {
    margin-top: 70px;
}

.text p {
    opacity: 0.9;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    color: rgb(228, 228, 234);
}
span {
    color: goldenrod;
}

.social {
    margin-top: 175px;
}

ul li {
    margin-right: 30px;
}

ul li img {
    width: 33px;
}

.social ul li img {
    transition: .5s;
}

.social ul li img:hover {
    transform: scale(1.2);
}

.main_img {
    margin-left: auto;
}

.main_img img {
    display: block;
    width: 503px;
}

section {
    background-color: snow;
    padding-top: 70px;
}

.about_me {
    display: flex;
}

.second_img {
    margin-right: 20px;
}

.second_img img {
    display: block;
    width: 250px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.text_description p {
    text-align: justify;
}

.anchor_about_me {
    opacity: 0.4;
    margin-top: 0;
}

h2 {
    color: #000;
    opacity: 0.7;
}
