.nav {
    padding: 20px 0;
}

@media (min-width: 992px) {
    .nav {
        padding: 40px 0;
    }
}

.nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

a.nav__logo {
    margin-right: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

@media (min-width: 992px) {
    a.nav__logo {
        margin-right: 83px;
    }
}

a.nav__logo:hover {
    color: #f72464;
}


.nav__list-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 36, 99, 0.502);
    z-index: 9;
    display: none;
    transition: opacity 0.2s ease-in;
}

.nav__list-holder--visible {
    display: block;
}

@media (min-width: 992px) {
    .nav__list-holder {
        position: static;
        background-color: transparent;
        display: block;
    }
}

.nav__list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: rgba(0, 0, 0);
    color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 9;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
}

.nav__list-holder--visible .nav__list {
    transform: translateX(0%);
}

@media (min-width: 992px) {
    .nav__list {
        display: flex;
        position: static;
        color: #000000;
        width: auto;
        background-color: transparent;
        transform: none;

    }
}

.nav__item {
    font-size: 18px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #313131;

}

@media (min-width: 992px) {
    .nav__item {
        margin-right: 30px;
        padding: 0;
        border-bottom: none;    
    }
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    /* color: #000; */
}

.nav__link:hover {
    color: #f72464;
}

.nav__cart {
    margin-left: auto;
    margin-right: 35px;
}

@media (min-width: 992px) {
    .nav__cart {
        margin-right: 0;
    }
}

.nav__cart-link {
    display: block;
    padding: 5px;
    position: relative;
    top: 5px;
}

.nav__cart-number {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    font-size: 12px;
    background: #F72464;
}