.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 36px;
}

@media (min-width: 992px) {
    .posts-wrapper {
        margin-bottom: 76px;
    }
}


.post {
    max-width: 570px;
    display: flex;
    justify-content: space-between; 
    flex-grow: 1;
    column-gap: 15px;
    align-items: flex-start;
}

@media (min-width: 400px) {
    .post {
        column-gap: 30px;
    }
}

.post__img {
    max-width: 100px;
}

@media (min-width: 400px) {
    .post__img {
        max-width: 170px;
    }
}

.post__content {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

@media (min-width: 440px) {
    .post__title {
        font-size: 20px;
    }
}

.post__text {
    margin: 10px 0;
    font-size: 10px;
    line-height: 1.3;
    color: #777777;
}

@media (min-width: 440px) {
    .post__text {
        font-size: 14px;
    }
}

.post__read-more {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

@media (min-width: 440px) {
    .post__read-more {
        font-size: 16px;
    }
}

.post__read-more::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./../img/icons/chevron-right.svg);
    background-position: center;
    margin-left: 2px;
    vertical-align: text-top;
    transition: margin-left 0.2s ease-in;
}

.post__read-more:hover {
    text-decoration: underline; 
}

.post__read-more:hover::after {
    margin-left: 10px;
}